<div class="pos-f-t">
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">I am a fullstack developer, specializing in React.JS and Redux on frontend side and in Ruby on Rails on backend side.</p>
        </div>
        <div class="col-sm-4 py-4">
          <h4 class="text-white">Explore</h4>
          <ul class="list-unstyled">
             <li><%= link_to "Home", root_path, class: 'text-white' %></li>
             <li><%= link_to "About me", about_me_path, class: 'text-white' %></li>
             <li><%= link_to "Contact", contact_path, class: 'text-white' %></li>
             <li><%= link_to "Blog", blogs_path, class: 'text-white' %></li>
             <li><%= login_helper 'text-white' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <nav class="navbar navbar-dark bg-dark">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand">Lina Filippova</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
